img {
  width: 100%;
  border-radius: 10px;
}

.containerTitle {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px 5px 22px 5px;
  color: #ffffff;
}

.containerTitle h2 {
  margin: 5px;
}

.containerMovie {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #383838;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.77);
  width: 250px;
  height: 470px;
  margin: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.containerMovie:hover {
  box-shadow: 2px 2px 8px 2px rgba(87, 87, 87, 0.9);
}

.containerImg {
  margin-top: 20px;
  width: 240px;
}

/* estilos del modal */

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  display: flex;
  flex-direction: column;
  margin: 1.75rem auto;
  width: 95%;
  height: auto;
  max-width: 700px;
  min-height: 400px;
  background: #383838;
  box-shadow: 1px 1px 25px 12px rgba(0, 0, 0, 0.78);
  background-clip: padding-box;
  color: white;
}

.modal-head {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0.5rem 1rem;
}

.movieImg {
  display: flex;
  width: 50%;
  min-width: 150px;
}

.titleColumn {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
  padding-right: 10px;
}

.modal-body {
  padding: 0rem 1rem 1rem 1rem;
  margin: 5px;
}

h3 {
  margin: 0px;
}

.modal-title {
  margin: 0;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.modal-close {
  font-size: 30px;
  border-radius: 7px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background: inherit;
  cursor: pointer;
}
